
body {

  background: #90c9bf;
  color: #fff;
	font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.bold {
  font-size: 2.5rem;
  color:#009999;
}
.title{
  font-size:3rem;
  color:#009999;
}
#moves{
  padding:0% 7%;
}
header{
  background-color: #009999;
}
.border{
  border: 2px solid #009999!important;
}
.carousel {
  width: 40%;
}

}
#moves img{
  width:50%;
  border-radius: 50%;
}
