#rock {
  background: url("../images/rock1.jpg");
  cursor: pointer;
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

#paper {
  background: url("../images/paper1.jpg") no-repeat;
  cursor: pointer;
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

#scissors {
  background: url("../images/scissors1.jpg") no-repeat;
  cursor: pointer;
  border: 1px solid black;
  width: 400px;
  height: 400px;
}
#page{
  width:80%;
}
body{
  font-size:2rem;
  font-weight: bold;
}
.bold{

  font-size:3rem;
}
img{
  max-width:100%;

}
