/*#rock {
  background: url("../images/rock1.jpg");
  cursor: pointer;
  border: 1px solid black;
  width: 400px;
  height: 400px;

}*/

/*#paper {
  background: url("../images/paper1.jpg") no-repeat;
  cursor: pointer;
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

#scissors {
  background: url("../images/scissors1.jpg") no-repeat;
  cursor: pointer;
  border: 1px solid black;
  width: 400px;
  height: 400px;
}*/

body {

  background: #90c9bf;
  color: #fff;
	font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.bold {
  font-size: 3rem;
}

.carousel {
  width: 40%;
}

/*#row-buttons .border{
  border: 2px solid black!important;
}
#moves .border{
  border: 2px solid green!important;
}
#score .border{
  border: 2px solid blue!important;
}
/*..................culoare bordura buttons, de scos la final */

#moves img{
  width:50%;
  border-radius: 50%;
}
