
body {

  background: #90c9bf;
  color: #fff;
	font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
h1{
  font-size: 3.5rem;
  color:#009999;
}
.bold {
  font-size: 2rem;
  color:#009999;
}
.title{
  font-size:2.5rem;
  color:#009999;
}
#moves{
  padding:0% 7%;
}

.border{
  border: 2px solid #009999!important;
}
.carousel {
  width: 40%;
}
img{
  width:80%;
}
.btn{
    width:70%;
}
#moves img{
  width:50%;
  border-radius: 50%;
}
@media screen and ( max-width:578px) {
h1{
  font-size: 2rem;
  color:#003366;
}
.title{
  font-size:1.5rem;
}
.bold {
  font-size: 1.5rem;
  color:#009999;
}
  #one, #two,#five {
    width: 31.3%;
    float: left;
    margin: 1%;
  }

  #three,#six {
    width: 31.3%;
    float: left;
    margin: 1%;
    margin-right: 0%;
  }
  #four,#six {
    font-size:1rem;
      width: 31.3%;
      float: left;
      margin: 1%;
    }

  .carousel {
    width: 70%;
  }
}
