*{-moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-text-size-adjust:100%;
  margin:0;
  padding:0;
}

article, aside, footer, header, main, nav, section {
  display:block;
}

img{
  max-width:100%;
  height:auto;
  display:block;
}

button, fieldset, input, textarea, select {
  background: none;
  border: none;
  border-radius: 0px;
  outline: 0;
  -webkit-appearance: none;
}
